swagger: '2.0'
info:
  title: Bank Argent API documentation
  description: Contains all available API endpoints in this codebase
  version: '1.0.0'
  termsOfService: 'http://swagger.io/terms/'
host: localhost:3001
basePath: /api/v1
schemes:
  - http
paths:
  /user/login:
    post:
      tags:
        - User Module
      summary: Login
      description: API for Login
      parameters:
        - in: body
          name: body
          description: Login Payload
          required: true
          schema:
            $ref: '#/definitions/Login'
      produces:
        - application/json
      responses:
        '200':
          description: Login Successfully
          schema:
            allOf:
              - $ref: '#/definitions/ApiResponse'
              - type: object
                properties:
                  body:
                    type: object
                    properties:
                      token:
                        type: string
        '400':
          description: Invalid Fields
        '500':
          description: Internal Server Error
  /user/signup:
    post:
      tags:
        - User Module
      summary: Signup
      description: API for Signup
      parameters:
        - in: body
          name: body
          description: Signup Payload
          required: true
          schema:
            $ref: '#/definitions/User'
      produces:
        - application/json
      responses:
        '200':
          description: Signup Successfully
          schema:
            allOf:
              - $ref: '#/definitions/ApiResponse'
              - type: object
                properties:
                  body:
                    type: object
                    $ref: '#/definitions/User'
        '400':
          description: Invalid Fields
        '500':
          description: Internal Server Error
  /user/profile:
    post:
      security:
        - Bearer: [ ]
      tags:
        - User Module
      summary: User Profile API
      description: API for fetching a user profile
      parameters:
        - in: header
          name: Authorization
          description: Attach Bearer JWT token
          type: string
          required: true
      produces:
        - application/json
      responses:
        '200':
          description: User profile retrieved successfully
          schema:
            allOf:
              - $ref: '#/definitions/ApiResponse'
              - type: object
                properties:
                  body:
                    $ref: '#/definitions/UserProfile'
        '400':
          description: Invalid Fields
        '500':
          description: Internal Server Error
    put:
      security:
        - Bearer: [ ]
      tags:
        - User Module
      summary: User Profile API
      description: API for updating a user profile
      parameters:
        - in: header
          name: Authorization
          description: Attach Bearer JWT token
          type: string
          required: true
        - in: body
          name: body
          description: Update user profile attributes
          required: true
          schema:
            $ref: '#/definitions/UserProfile'
      produces:
        - application/json
      responses:
        '200':
          description: User profile retrieved successfully
          schema:
            $ref: '#/definitions/ApiResponse'
        '400':
          description: Invalid Fields
        '500':
          description: Internal Server Error
  /user/transactions:
    post:
      security:
        - Bearer: [ ]
      tags:
        - User Module
      summary: User Transactions API
      description: API for fetching user transaction list
      parameters:
        - in: header
          name: Authorization
          description: Attach Bearer JWT token
          type: string
          required: true
      produces:
        - application/json
      responses:
        '200':
          description: User transaction list retrieved successfully
          schema:
            allOf:
              - $ref: '#/definitions/ApiResponse'
              - type: object
                properties:
                  body:
                    $ref: '#/definitions/UserTransactionList'
        '400':
          description: Invalid Fields
        '404':
          description: Not implemented
        '500':
          description: Internal Server Error
  /user/transaction:
    post:
      security:
        - Bearer: [ ]
      tags:
        - User Module
      summary: User Transaction API
      description: API for fetching user transaction's details
      parameters:
        - in: header
          name: Authorization
          description: Attach Bearer JWT token
          type: string
          required: true
        - in: body
          name: body
          description: User transaction unique identifier
          required: true
          schema:
            type: object
            properties:
              id:
                type: string
      produces:
        - application/json
      responses:
        '200':
          description: User transaction details retrieved successfully
          schema:
            allOf:
              - $ref: '#/definitions/ApiResponse'
              - type: object
                properties:
                  body:
                    allOf:
                      - $ref: '#/definitions/UserTransaction'
                      - $ref: '#/definitions/UserTransactionDetails'
        '400':
          description: Invalid Fields
        '404':
          description: User transaction not found
        '500':
          description: Internal Server Error
    put:
      security:
        - Bearer: [ ]
      tags:
        - User Module
      summary: User Transaction API
      description: API for updating a user transaction
      parameters:
        - in: header
          name: Authorization
          description: Attach Bearer JWT token
          type: string
          required: true
        - in: body
          name: body
          description: User transaction unique identifier
          required: true
          schema:
            minProperties: 2
            allOf:
              - $ref: '#/definitions/UserTransaction'
                required:
                  - id
              - $ref: '#/definitions/UserTransactionDetails'
      produces:
        - application/json
      responses:
        '200':
          description: User transaction updated successfully
          schema:
            allOf:
              - $ref: '#/definitions/ApiResponse'
              - type: object
                properties:
                  body:
                    type: object
                    allOf:
                      - $ref: '#/definitions/UserTransaction'
                      - $ref: '#/definitions/UserTransactionDetails'
        '400':
          description: Invalid Fields
        '404':
          description: User transaction not found
        '500':
          description: Internal Server Error
    delete:
      security:
        - Bearer: [ ]
      tags:
        - User Module
      summary: User Transaction API
      description: API for deleting a user transaction
      parameters:
        - in: header
          name: Authorization
          description: Attach Bearer JWT token
          type: string
          required: true
        - in: body
          name: body
          description: User transaction unique identifier
          required: true
          schema:
            type: object
            properties:
              id:
                type: string
      produces:
        - application/json
      responses:
        '200':
          description: User transaction deleted successfully
          schema:
            allOf:
              - $ref: '#/definitions/ApiResponse'
              - type: object
                properties:
                  body:
                    $ref: '#/definitions/UserTransaction'
        '400':
          description: Invalid Fields
        '404':
          description: User transaction not found
        '500':
          description: Internal Server Error
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
definitions:
  ApiResponse:
    type: object
    description: Represent a normal call response
    properties:
      status:
        type: integer
      message:
        type: string
      body:
        type: object
  Login:
    type: object
    description: Represent the data for a user to log in
    properties:
      email:
        type: string
        description: user email
      password:
        type: string
        description: user password
  UserProfile:
    type: object
    description: Represent the user's personal information
    properties:
      firstName:
        type: string
        description: user first name
      lastName:
        type: string
        description: user last name
  User:
    type: object
    description: Represent a user
    discriminator: id
    allOf:
      - type: object
        properties:
          id:
            type: string
            description: user unique identifier
      - $ref: '#/definitions/Login'
      - $ref: '#/definitions/UserProfile'
  UserTransaction:
    type: object
    description: Represent a user transaction
    discriminator: id
    properties:
      id:
        type: string
      type:
        type: string
      amount:
        type: number
      balance:
        type: number
  UserTransactionDetails:
    type: object
    description: Represent a transaction details
    properties:
      date:
        type: number
  UserTransactionList:
    type: object
    description: Contains a list of UserTransaction and the count of it
    properties:
      count:
        type: number
      list:
        type: array
        items:
          $ref: '#/definitions/UserTransaction'
