.container {
}

.textarea {
    background-color: #fff;
    color: black;
    border: 1px solid black;
    padding: .5rem;
    width: 100%;
    height: 100%;
    min-height: 6rem;
    resize: vertical;
    outline: none;
}
